:root {
    --light-default-primary: rgb(143 76 56);
    --light-default-surface-tint: rgb(143 76 56);
    --light-default-on-primary: rgb(255 255 255);
    --light-default-primary-container: rgb(255 219 209);
    --light-default-on-primary-container: rgb(58 11 1);
    --light-default-secondary: rgb(119 87 78);
    --light-default-on-secondary: rgb(255 255 255);
    --light-default-secondary-container: rgb(255 219 209);
    --light-default-on-secondary-container: rgb(44 21 15);
    --light-default-tertiary: rgb(108 93 47);
    --light-default-on-tertiary: rgb(255 255 255);
    --light-default-tertiary-container: rgb(245 225 167);
    --light-default-on-tertiary-container: rgb(35 27 0);
    --light-default-error: rgb(186 26 26);
    --light-default-on-error: rgb(255 255 255);
    --light-default-error-container: rgb(255 218 214);
    --light-default-on-error-container: rgb(65 0 2);
    --light-default-background: rgb(255 248 246);
    --light-default-on-background: rgb(35 25 23);
    --light-default-surface: rgb(255 248 246);
    --light-default-on-surface: rgb(35 25 23);
    --light-default-surface-variant: rgb(245 222 216);
    --light-default-on-surface-variant: rgb(83 67 63);
    --light-default-outline: rgb(133 115 110);
    --light-default-outline-variant: rgb(216 194 188);
    --light-default-shadow: rgb(0 0 0);
    --light-default-scrim: rgb(0 0 0);
    --light-default-inverse-surface: rgb(57 46 43);
    --light-default-inverse-on-surface: rgb(255 237 232);
    --light-default-inverse-primary: rgb(255 181 160);
    --light-default-primary-fixed: rgb(255 219 209);
    --light-default-on-primary-fixed: rgb(58 11 1);
    --light-default-primary-fixed-dim: rgb(255 181 160);
    --light-default-on-primary-fixed-variant: rgb(114 53 35);
    --light-default-secondary-fixed: rgb(255 219 209);
    --light-default-on-secondary-fixed: rgb(44 21 15);
    --light-default-secondary-fixed-dim: rgb(231 189 178);
    --light-default-on-secondary-fixed-variant: rgb(93 64 55);
    --light-default-tertiary-fixed: rgb(245 225 167);
    --light-default-on-tertiary-fixed: rgb(35 27 0);
    --light-default-tertiary-fixed-dim: rgb(216 197 141);
    --light-default-on-tertiary-fixed-variant: rgb(83 70 25);
    --light-default-surface-dim: rgb(232 214 210);
    --light-default-surface-bright: rgb(255 248 246);
    --light-default-surface-container-lowest: rgb(255 255 255);
    --light-default-surface-container-low: rgb(255 241 237);
    --light-default-surface-container: rgb(252 234 229);
    --light-default-surface-container-high: rgb(247 228 224);
    --light-default-surface-container-highest: rgb(241 223 218);

    --light-medium-primary: rgb(109 49 31);
    --light-medium-surface-tint: rgb(143 76 56);
    --light-medium-on-primary: rgb(255 255 255);
    --light-medium-primary-container: rgb(170 97 76);
    --light-medium-on-primary-container: rgb(255 255 255);
    --light-medium-secondary: rgb(89 60 52);
    --light-medium-on-secondary: rgb(255 255 255);
    --light-medium-secondary-container: rgb(143 109 99);
    --light-medium-on-secondary-container: rgb(255 255 255);
    --light-medium-tertiary: rgb(78 66 22);
    --light-medium-on-tertiary: rgb(255 255 255);
    --light-medium-tertiary-container: rgb(131 116 66);
    --light-medium-on-tertiary-container: rgb(255 255 255);
    --light-medium-error: rgb(140 0 9);
    --light-medium-on-error: rgb(255 255 255);
    --light-medium-error-container: rgb(218 52 46);
    --light-medium-on-error-container: rgb(255 255 255);
    --light-medium-background: rgb(255 248 246);
    --light-medium-on-background: rgb(35 25 23);
    --light-medium-surface: rgb(255 248 246);
    --light-medium-on-surface: rgb(35 25 23);
    --light-medium-surface-variant: rgb(245 222 216);
    --light-medium-on-surface-variant: rgb(79 63 59);
    --light-medium-outline: rgb(108 91 87);
    --light-medium-outline-variant: rgb(137 119 114);
    --light-medium-shadow: rgb(0 0 0);
    --light-medium-scrim: rgb(0 0 0);
    --light-medium-inverse-surface: rgb(57 46 43);
    --light-medium-inverse-on-surface: rgb(255 237 232);
    --light-medium-inverse-primary: rgb(255 181 160);
    --light-medium-primary-fixed: rgb(170 97 76);
    --light-medium-on-primary-fixed: rgb(255 255 255);
    --light-medium-primary-fixed-dim: rgb(140 73 54);
    --light-medium-on-primary-fixed-variant: rgb(255 255 255);
    --light-medium-secondary-fixed: rgb(143 109 99);
    --light-medium-on-secondary-fixed: rgb(255 255 255);
    --light-medium-secondary-fixed-dim: rgb(116 84 75);
    --light-medium-on-secondary-fixed-variant: rgb(255 255 255);
    --light-medium-tertiary-fixed: rgb(131 116 66);
    --light-medium-on-tertiary-fixed: rgb(255 255 255);
    --light-medium-tertiary-fixed-dim: rgb(105 91 44);
    --light-medium-on-tertiary-fixed-variant: rgb(255 255 255);
    --light-medium-surface-dim: rgb(232 214 210);
    --light-medium-surface-bright: rgb(255 248 246);
    --light-medium-surface-container-lowest: rgb(255 255 255);
    --light-medium-surface-container-low: rgb(255 241 237);
    --light-medium-surface-container: rgb(252 234 229);
    --light-medium-surface-container-high: rgb(247 228 224);
    --light-medium-surface-container-highest: rgb(241 223 218);

    --light-high-primary: rgb(67 17 4);
    --light-high-surface-tint: rgb(143 76 56);
    --light-high-on-primary: rgb(255 255 255);
    --light-high-primary-container: rgb(109 49 31);
    --light-high-on-primary-container: rgb(255 255 255);
    --light-high-secondary: rgb(52 28 21);
    --light-high-on-secondary: rgb(255 255 255);
    --light-high-secondary-container: rgb(89 60 52);
    --light-high-on-secondary-container: rgb(255 255 255);
    --light-high-tertiary: rgb(43 33 0);
    --light-high-on-tertiary: rgb(255 255 255);
    --light-high-tertiary-container: rgb(78 66 22);
    --light-high-on-tertiary-container: rgb(255 255 255);
    --light-high-error: rgb(78 0 2);
    --light-high-on-error: rgb(255 255 255);
    --light-high-error-container: rgb(140 0 9);
    --light-high-on-error-container: rgb(255 255 255);
    --light-high-background: rgb(255 248 246);
    --light-high-on-background: rgb(35 25 23);
    --light-high-surface: rgb(255 248 246);
    --light-high-on-surface: rgb(0 0 0);
    --light-high-surface-variant: rgb(245 222 216);
    --light-high-on-surface-variant: rgb(46 33 29);
    --light-high-outline: rgb(79 63 59);
    --light-high-outline-variant: rgb(79 63 59);
    --light-high-shadow: rgb(0 0 0);
    --light-high-scrim: rgb(0 0 0);
    --light-high-inverse-surface: rgb(57 46 43);
    --light-high-inverse-on-surface: rgb(255 255 255);
    --light-high-inverse-primary: rgb(255 231 225);
    --light-high-primary-fixed: rgb(109 49 31);
    --light-high-on-primary-fixed: rgb(255 255 255);
    --light-high-primary-fixed-dim: rgb(81 28 12);
    --light-high-on-primary-fixed-variant: rgb(255 255 255);
    --light-high-secondary-fixed: rgb(89 60 52);
    --light-high-on-secondary-fixed: rgb(255 255 255);
    --light-high-secondary-fixed-dim: rgb(64 38 31);
    --light-high-on-secondary-fixed-variant: rgb(255 255 255);
    --light-high-tertiary-fixed: rgb(78 66 22);
    --light-high-on-tertiary-fixed: rgb(255 255 255);
    --light-high-tertiary-fixed-dim: rgb(55 44 2);
    --light-high-on-tertiary-fixed-variant: rgb(255 255 255);
    --light-high-surface-dim: rgb(232 214 210);
    --light-high-surface-bright: rgb(255 248 246);
    --light-high-surface-container-lowest: rgb(255 255 255);
    --light-high-surface-container-low: rgb(255 241 237);
    --light-high-surface-container: rgb(252 234 229);
    --light-high-surface-container-high: rgb(247 228 224);
    --light-high-surface-container-highest: rgb(241 223 218);

    --dark-default-primary: rgb(255 181 160);
    --dark-default-surface-tint: rgb(255 181 160);
    --dark-default-on-primary: rgb(86 31 15);
    --dark-default-primary-container: rgb(114 53 35);
    --dark-default-on-primary-container: rgb(255 219 209);
    --dark-default-secondary: rgb(231 189 178);
    --dark-default-on-secondary: rgb(68 42 34);
    --dark-default-secondary-container: rgb(93 64 55);
    --dark-default-on-secondary-container: rgb(255 219 209);
    --dark-default-tertiary: rgb(216 197 141);
    --dark-default-on-tertiary: rgb(59 47 5);
    --dark-default-tertiary-container: rgb(83 70 25);
    --dark-default-on-tertiary-container: rgb(245 225 167);
    --dark-default-error: rgb(255 180 171);
    --dark-default-on-error: rgb(105 0 5);
    --dark-default-error-container: rgb(147 0 10);
    --dark-default-on-error-container: rgb(255 218 214);
    --dark-default-background: rgb(26 17 15);
    --dark-default-on-background: rgb(241 223 218);
    --dark-default-surface: rgb(26 17 15);
    --dark-default-on-surface: rgb(241 223 218);
    --dark-default-surface-variant: rgb(83 67 63);
    --dark-default-on-surface-variant: rgb(216 194 188);
    --dark-default-outline: rgb(160 140 135);
    --dark-default-outline-variant: rgb(83 67 63);
    --dark-default-shadow: rgb(0 0 0);
    --dark-default-scrim: rgb(0 0 0);
    --dark-default-inverse-surface: rgb(241 223 218);
    --dark-default-inverse-on-surface: rgb(57 46 43);
    --dark-default-inverse-primary: rgb(143 76 56);
    --dark-default-primary-fixed: rgb(255 219 209);
    --dark-default-on-primary-fixed: rgb(58 11 1);
    --dark-default-primary-fixed-dim: rgb(255 181 160);
    --dark-default-on-primary-fixed-variant: rgb(114 53 35);
    --dark-default-secondary-fixed: rgb(255 219 209);
    --dark-default-on-secondary-fixed: rgb(44 21 15);
    --dark-default-secondary-fixed-dim: rgb(231 189 178);
    --dark-default-on-secondary-fixed-variant: rgb(93 64 55);
    --dark-default-tertiary-fixed: rgb(245 225 167);
    --dark-default-on-tertiary-fixed: rgb(35 27 0);
    --dark-default-tertiary-fixed-dim: rgb(216 197 141);
    --dark-default-on-tertiary-fixed-variant: rgb(83 70 25);
    --dark-default-surface-dim: rgb(26 17 15);
    --dark-default-surface-bright: rgb(66 55 52);
    --dark-default-surface-container-lowest: rgb(20 12 10);
    --dark-default-surface-container-low: rgb(35 25 23);
    --dark-default-surface-container: rgb(39 29 27);
    --dark-default-surface-container-high: rgb(50 40 37);
    --dark-default-surface-container-highest: rgb(61 50 47);

    --dark-medium-primary: rgb(255 187 167);
    --dark-medium-surface-tint: rgb(255 181 160);
    --dark-medium-on-primary: rgb(49 7 0);
    --dark-medium-primary-container: rgb(203 124 101);
    --dark-medium-on-primary-container: rgb(0 0 0);
    --dark-medium-secondary: rgb(236 193 182);
    --dark-medium-on-secondary: rgb(38 16 10);
    --dark-medium-secondary-container: rgb(174 136 126);
    --dark-medium-on-secondary-container: rgb(0 0 0);
    --dark-medium-tertiary: rgb(221 202 145);
    --dark-medium-on-tertiary: rgb(29 22 0);
    --dark-medium-tertiary-container: rgb(160 144 92);
    --dark-medium-on-tertiary-container: rgb(0 0 0);
    --dark-medium-error: rgb(255 186 177);
    --dark-medium-on-error: rgb(55 0 1);
    --dark-medium-error-container: rgb(255 84 73);
    --dark-medium-on-error-container: rgb(0 0 0);
    --dark-medium-background: rgb(26 17 15);
    --dark-medium-on-background: rgb(241 223 218);
    --dark-medium-surface: rgb(26 17 15);
    --dark-medium-on-surface: rgb(255 249 248);
    --dark-medium-surface-variant: rgb(83 67 63);
    --dark-medium-on-surface-variant: rgb(220 198 192);
    --dark-medium-outline: rgb(179 158 153);
    --dark-medium-outline-variant: rgb(146 127 122);
    --dark-medium-shadow: rgb(0 0 0);
    --dark-medium-scrim: rgb(0 0 0);
    --dark-medium-inverse-surface: rgb(241 223 218);
    --dark-medium-inverse-on-surface: rgb(50 40 37);
    --dark-medium-inverse-primary: rgb(116 54 36);
    --dark-medium-primary-fixed: rgb(255 219 209);
    --dark-medium-on-primary-fixed: rgb(40 5 0);
    --dark-medium-primary-fixed-dim: rgb(255 181 160);
    --dark-medium-on-primary-fixed-variant: rgb(93 37 20);
    --dark-medium-secondary-fixed: rgb(255 219 209);
    --dark-medium-on-secondary-fixed: rgb(32 11 6);
    --dark-medium-secondary-fixed-dim: rgb(231 189 178);
    --dark-medium-on-secondary-fixed-variant: rgb(75 47 40);
    --dark-medium-tertiary-fixed: rgb(245 225 167);
    --dark-medium-on-tertiary-fixed: rgb(23 17 0);
    --dark-medium-tertiary-fixed-dim: rgb(216 197 141);
    --dark-medium-on-tertiary-fixed-variant: rgb(65 53 10);
    --dark-medium-surface-dim: rgb(26 17 15);
    --dark-medium-surface-bright: rgb(66 55 52);
    --dark-medium-surface-container-lowest: rgb(20 12 10);
    --dark-medium-surface-container-low: rgb(35 25 23);
    --dark-medium-surface-container: rgb(39 29 27);
    --dark-medium-surface-container-high: rgb(50 40 37);
    --dark-medium-surface-container-highest: rgb(61 50 47);

    --dark-high-primary: rgb(255 249 248);
    --dark-high-surface-tint: rgb(255 181 160);
    --dark-high-on-primary: rgb(0 0 0);
    --dark-high-primary-container: rgb(255 187 167);
    --dark-high-on-primary-container: rgb(0 0 0);
    --dark-high-secondary: rgb(255 249 248);
    --dark-high-on-secondary: rgb(0 0 0);
    --dark-high-secondary-container: rgb(236 193 182);
    --dark-high-on-secondary-container: rgb(0 0 0);
    --dark-high-tertiary: rgb(255 250 246);
    --dark-high-on-tertiary: rgb(0 0 0);
    --dark-high-tertiary-container: rgb(221 202 145);
    --dark-high-on-tertiary-container: rgb(0 0 0);
    --dark-high-error: rgb(255 249 249);
    --dark-high-on-error: rgb(0 0 0);
    --dark-high-error-container: rgb(255 186 177);
    --dark-high-on-error-container: rgb(0 0 0);
    --dark-high-background: rgb(26 17 15);
    --dark-high-on-background: rgb(241 223 218);
    --dark-high-surface: rgb(26 17 15);
    --dark-high-on-surface: rgb(255 255 255);
    --dark-high-surface-variant: rgb(83 67 63);
    --dark-high-on-surface-variant: rgb(255 249 248);
    --dark-high-outline: rgb(220 198 192);
    --dark-high-outline-variant: rgb(220 198 192);
    --dark-high-shadow: rgb(0 0 0);
    --dark-high-scrim: rgb(0 0 0);
    --dark-high-inverse-surface: rgb(241 223 218);
    --dark-high-inverse-on-surface: rgb(0 0 0);
    --dark-high-inverse-primary: rgb(77 25 9);
    --dark-high-primary-fixed: rgb(255 224 216);
    --dark-high-on-primary-fixed: rgb(0 0 0);
    --dark-high-primary-fixed-dim: rgb(255 187 167);
    --dark-high-on-primary-fixed-variant: rgb(49 7 0);
    --dark-high-secondary-fixed: rgb(255 224 216);
    --dark-high-on-secondary-fixed: rgb(0 0 0);
    --dark-high-secondary-fixed-dim: rgb(236 193 182);
    --dark-high-on-secondary-fixed-variant: rgb(38 16 10);
    --dark-high-tertiary-fixed: rgb(250 230 171);
    --dark-high-on-tertiary-fixed: rgb(0 0 0);
    --dark-high-tertiary-fixed-dim: rgb(221 202 145);
    --dark-high-on-tertiary-fixed-variant: rgb(29 22 0);
    --dark-high-surface-dim: rgb(26 17 15);
    --dark-high-surface-bright: rgb(66 55 52);
    --dark-high-surface-container-lowest: rgb(20 12 10);
    --dark-high-surface-container-low: rgb(35 25 23);
    --dark-high-surface-container: rgb(39 29 27);
    --dark-high-surface-container-high: rgb(50 40 37);
    --dark-high-surface-container-highest: rgb(61 50 47);
  }
  